 <?php
	$params = $this->getParams ();
?>

<div class="container">
	<div id="status" data-status="<?php echo $params['messages']['leads']['success']?>"></div>
	<div class="row" style="margin: 30px 0">
		<div class="col-lg-3">
			<img src="img/logo.png" class="img-thumbnail">
		</div>
		<div class="col-lg-9">
			<h3>Nome do Produto</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6" id="form-container">
			<div id="messages" class="messages" style="display: block">
				<?php foreach ( $params['messages'] as $key=>$value ) { ?>
					<?php if(!$value['success']){ ?> 
						<div class="alert alert-danger" role="alert"><?php echo $key . ' - ' . $value['message'] ?></div>
					<?php }?>
				<?php } ?>
			</div>

			<form id="step_1" class="form-step" method="post" action="#">
				<div class="panel panel-info">
					<div class="panel-heading">
						<div class="panel-title">Preencha seus dados para receber contato
						</div>
					</div>
					<div class="panel-body">
						<fieldset>
							<div class="row form-group">
								<div class="col-lg-6">
									<label>Nome Completo</label> <input class="form-control"
										type="text" name="nome" value="<?php echo (isset($_POST['nome'])) ? $_POST['nome'] : ''; ?> ">
								</div>

								<div class="col-lg-6">
									<label>Data de Nascimento</label> <input class="form-control"
										type="text" name="data_nascimento" value="<?php echo (isset($_POST['data_nascimento'])) ? $_POST['data_nascimento'] : ''; ?> ">
								</div>
							</div>

							<div class="row form-group">
								<div class="col-lg-6">
									<label>Email</label> <input class="form-control" type="text"
										name="email" value="<?php echo (isset($_POST['email'])) ? $_POST['email'] : ''; ?> ">
								</div>

								<div class="col-lg-6">
									<label>Telefone</label> <input class="form-control" type="text"
										name="telefone" value="<<?php echo (isset($_POST['telefone'])) ? $_POST['telefone'] : ''; ?> ">
								</div>
							</div>

							<div>
								<button type="button" class="btn btn-lg btn-info next-step"
									id=btn_step_1>Próximo Passo</button>
							</div>
						</fieldset>
					</div>
				</div>
			</form>

			<form id="step_2" class="form-step" style="display: none"
				method="post" action="#">
				<div class="panel panel-info">
					<div class="panel-heading">
						<div class="panel-title">Preencha seus dados para receber contato
						</div>
					</div>
					<div class="panel-body">
						<fieldset>
							<div class="row form-group">
								<div class="col-lg-6">
									<label>Região</label> <select class="form-control"
										name="regiao">
										<option selected="selected" value="">Selecione a sua região</option>
										<option>Sul</option>
										<option>Sudeste</option>
										<option>Centro-Oeste</option>
										<option>Nordeste</option>
										<option>Norte</option>
									</select>
								</div>

								<div class="col-lg-6">
									<label>Unidade</label> <select class="form-control"
										name="unidade" disabled="disabled">
										<option value="">Unidade mais próxima</option>
									</select>
								</div>
							</div>

							<div>
								<button type="button" class="btn btn-lg btn-info next-step"
									id=btn_step_2>Enviar</button>
							</div>
						</fieldset>
					</div>
				</div>
			</form>

			<div id="step_sucesso" class="form-step" style="display: none">
				<div class="panel panel-info">
					<div class="panel-heading">
						<div class="panel-title">Obrigado pelo cadastro!</div>
					</div>
					<div class="panel-body">Em breve você receberá uma ligação com mais
						informações!</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<h1>Chamada interessante para o produto</h1>
			<h2>Mais uma informação relevante</h2>
		</div>

	</div>
</div>
