<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Compre Já</title>

<!-- CSS -->
<link rel="stylesheet" href="css/jquery-ui.css">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="css/style.css">

<!-- JavaScript -->
<!-- Jquery -->
<script
			  src="https://code.jquery.com/jquery-1.12.4.min.js"
			  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
			  crossorigin="anonymous"></script>
<script
			  src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
			  integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="
			  crossorigin="anonymous"></script>
			  
<script src="js/jquery.maskedinput.js"></script>
<script src="js/jquery.maskMoney.js"></script>			  
			  
<!-- Bootstrap -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Script-default -->
<script src="js/form-validation.min.js"></script>
<script src="js/form-validation-bootstrap.min.js"></script>
<script src="js/script.js"></script>
<script src="js/validation.js"></script>
</head>

<body>
<div class="header"></div>